{% for waterpark in site.water-parks %}
  <div class="col-md-3 water-park-card">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="{{ waterpark.url }}" class="">
          {% if waterpark.thumb %}
            <img class="img-thumbnail" src="{{page.asset_path}}{{waterpark.image_path}}/{{ waterpark.thumb }}" alt="{{ waterpark.title }}"/>
          {% else %}
            <i class="fa fa-picture-o" aria-hidden="true"></i>
          {% endif %}
          <p>{{ waterpark.title }}</p>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
